*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #C75B7A;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    
}
.box{
  max-width: 600px; 
   padding: 20px;
   margin: 0 auto;
   margin-top: 50px;
   box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
   background-color:#D9ABAB;
   border-radius: 10px;
   
   
}
H2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 1.2rem;
}
.formcontainer{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}
.formcontrol{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 17px;
}
input, select, textarea{
    padding: 8px 10px;
    border: 1px solid #D9ABAB ;
    font-size: 15px;
}
input:focus{
outline-color: red;
}
.buttoncont{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color:brown;
    color: aliceblue;
    padding: 5px 10px;
    border: transparent solid 2px;
    border-radius: 5px;
    transition: 0.5s ease-in;
}
button:hover{
    background-color: blue;
    transition: 0.5s ease-out;
}
.textcontrol{
    grid-column: 1/ span 2;
}
.textcontrol textarea{
   width: 100%;
}
@media (max-width:460px){
    .textcontrol{
        grid-column: 1/span 1;
    }
}